body {
    font: 13px Verdana, sans-serif;
    color: darkslateblue;
}

#wrapper {
    width: 500px;
}

.question {
    font-weight: bold;
}

fieldset {
    padding: 10px;
    margin: 10px;
    border: 1px solid #333333;
    background-color: #f4f9ff;

}

textarea {
    border: 1px solid #333333;
    background-color: #f4f9ff;
    width: 480px;
    margin: 0px 10px;
    
    /* на текстовую область не наследуется шрифт от body */
    font: 13px Verdana, sans-serif;
}

textarea:focus {
    border: 2px solid blue;
    background: none;
    background-color: white;
}

.tr {
    margin: 0 10px;
}

.input {
    border: 1px solid #333333;
    height: 27px;
    background-image: url(../images/input-bg.png);
    background-repeat: repeat-x;
    width: 320px;
}

/* принаведении когда элемент input в фокусе будем использовать другие параметры */
.input:focus {
    border: 2px solid blue;
    background: none;
    background-color: white;
}

/* добавим курсор в виде руки для всех label */
label {
    cursor: pointer;
}