body{
    font: 13px Verdana, sans-serif;
    color: darkslateblue;
}

#wrapper{
    width: 500px;
}

.question{
    font-weight: bold;
}

fieldset{
    padding: 10px;
    margin: 20px;
    border: 1px solid red;
    background-color: #fcfcfc;
}