/* наследование сделаем для всей html страници 
-<h..>заголовки НЕ НАСЛЕДУЮТ РАЗМЕР
-<a href> ссылки не наследуют цвет
посмотреть какие свойства наследуются, а какие Нет можно здесь https://www.w3.org/TR/2016/WD-CSS22-20160412/propidx.html
*/
body{
    font: 14px Tahoma;
    color: #333333;

    /* рамка не наследуется для всех элементов */
    /* border: 2px solid gold; */

    /* сбрасываем первоночальные отступы */
    padding: 0;
    margin: 0;

}



p {
    /* через запятую можно установить разные шрифты, если браузер не нашёл на ПК пользователя первый 
    шрифт то он будет искать второй и т.д. */
    /* sans-serif без засечек */
    /* serif - с засечками */
    /* monospace - каждая буква занимает одну и туже ширину */
    /* cursive - кросивый шрифт  */
    /* font-family: "Comic Sans MS"; */
    /* изначально(без задания размера) браузер показывает 100% 
    приимущество изменения по  % данного шрифта в том что при изменения размера экрана будь то 
    ПК, планшет или телефон хорошо масштабируется*/

    /* em - это единицы измерения книгопечати(базовый размер равен 1em) похож с заданием по процента 150% это 1.5 и так же хорошо масштабируется*/

    /* px - пиксели это точка вашего экрана, (базовый размер 16px), недостатком ранеше являлось то что старые браузеры не могут их масштабировать*/

    /* pt - в пунктах 1.72 дюйма или 0.35 мм(10pt это 3.5мм) (базовый размер это 12pt) */
    /* ключевые слова -  по умолчанию medium(средний) small = medium*0.8, large = medium*1.2  */

    /* font-size: 16px; */

    /* задаём красную строку */
    text-indent: 30px;

    /* межстрочный интервал line-height: 20px; - задали в px*/
    /*но лучше задавать в множителях, если указать line-height: 2; то это означает что нужно всзять font-size: 16px и умножить на 2 */
    line-height: 1.5;

    /* интервал между словами, можно уменьшать или увеличивать */
    /* здесь используются фиксированные велечины чаще всего px */
    /* если используется text-align: justify то word-spacing ИГНОРИРУЕТСЯ */
    /* word-spacing: 5px; */

    /* интервал между буквами */
    /* letter-spacing - больше актуален на тех словах которых пишутся очень крупным шрифтом и состоят буквально из нескольких букв */
    /* letter-spacing: 5px; */

     border: 4px solid rgb(180, 14, 226);/* Каждый тэг - это блок который занимает всё доступное пространство по ширене */
}

#header {
    /* color: rgb(255, 0, 0); */
    /* выравнивание: по левому краю, по правому краю, по центру, по ширене */
    text-align: center;

    /* свойство позволяет нам изменять регистр букв. */
    /* uppercase - большими буквами */
    /* lowercase - маленькими буквами */
    /* capitalize - каждая первая буква в слове с большой буквы */
    text-transform: capitalize;

    /* Добавляем рамку */
    /* border-width: 2px;толщина рамки */
    /* border-top-width: 0px; задали толщину верхней грани 0 */
    /* border-style: groove; *//* стиль рамки , 8 видов. Например dotted - точечный пунктир, dashed - пунктир, solid - сплашная
    , double - двойная, groove and ridge - выглядет как обьёмная(два слитных цвета рамки одит ярче другой светлее)
    ,inset and outset - две грани более яркие а, две более тусклые */
    /* border-color: gold;цвет рамки */

    /* сокращенные записи для рамки: */
    border: 4px solid goldenrod;

    /* задаём для всех сторон */
    /* padding: 40px; */

    /* задаём для всех РАЗНЫХ сторон */
    padding: 10px 20px 30px 40px;

    /* padding: 10px 40px; в таком случае top and bottom по 10, а left and right по 40. ТОЖЕ САМОЕ и для margin */
    
    margin: 20px; 

    /* задаём ширину для блока */
    /* если мы указываем ширину в процентах %, то она расщитывается на основе родителя */
    width: 550px;/*ширина содержимова(content)*/

    /* задаём высоту для блока */
    height: 90px;/*высота содержимова(стеуте)*/

    /* правило overflow на случай если контент не помещается в блок */
    /* hidden - спрятать ток контент который не помещается в блок */
    /* auto - браузер добавит полосы прокрутки если content не помещается*/
    /* scroll - даже если content помещает, принудительно добавляем полосы прокрутки*/
    /* visible - значение по умолчанию */
    overflow: hidden;
}

.new {
    /* color: aqua; */

    /* Сокращённая форма записи для шрифта*/
    /* font-style: italic; курсив
    font-weight: bold; жирный
    font-size: 16px;размер 
    font-family: Tahoma;шрифт*/
    /* font: italic bold 16px Tahoma; */
    /* а можно и так: font: 16px Tahoma; */
    
}

/* псевдо селекторы */
/* a:link обычное состояние ссылки ещё никто не нажимал */
a:link {
    color: black;
}

/* a:visited посещённая ссылка  */
a:visited {
    color: coral;
}

/* a:hover когда на ссылку наведена мышь */
a:hover {
    color: darkgreen;
}

/* a:active во время нажатия на ссылку */

a:active {
    color: beige;
}

.new2 {
    /* color: black; */
    /* italic - курсив */
    font-style: italic;
}

.new3 {
    /* color: brown; */
    /* жирность шрифта  normal, bold - полужирный, 100 - 900*/
    font-weight: bold;
}

.new4 {
    /* underline - подчёркнуты, line-through - перечёркнутый, overline - верхнее подчёркивание */
    text-decoration: line-through;
}

a {
    /* убираем подчёркивание с сылок */
    text-decoration: none;
    border-bottom: 2px dotted red;
}

.new5 {
    /* выравнивание: по ширене - это значит что браузер будет выравнивать и по левому и по правому краю, за сёт увелечения 
    расстояния между пробелавми */
    text-align: justify;
}

ul{
    /* внешний вид маркера: circle - круг, decimal-цифрами, decimal-leading-zero - цифры 01 02 03, armenian - армянский нумерация,
    square - ввиде квадрата, disc - ввиде заполненого круга, none - без маркера, georgian - грузинская нумерация,
    lower-alpha - (a,b,c,d), lower-greek - (alpha, beta, gamma), lower-latin(a,b,c,d), lower-roman - римскии цыфры,
    upper-alpha - (A,B,C,D,E), upper-latin - (A,B,C,D,E), upper-roman - большие римские цифры,
    inherit - значение должно быть унаследованно от элемента родителя */
    /* list-style-type:upper-roman; */

    /* маркер ввиде изображения */
    /* list-style-image: url(../images/marker.png); */

    /* расположения маркера: 
    outside - снаруже рамки
    inside - внутри рамки*/
    /* list-style-position:inside; */

    list-style:inside url(../images/marker.png) ;
    
    /* Если элемент наследует какой то свойство от двух вышестоящих родителей, то будет использоваться всегда
    свойствоот ближайшего родителя */
    /* color: red; */
}

/* селектор классов - 10 баллов */
.new6{
    color: chartreuse;
}
/* id селектор - 100 баллов */
#liSuper{
    color: cornflowerblue;
}
/* id селектор - 100 баллов + 1 + 10 */
#myList li.new6{
    color: coral;
}

