body {
    background-color: #aeadad;
    font: 11px Verdana;
    color: #696969;
}

#wrapper {
    background-color: #f4f4f4;
    margin: 30px auto;
    height: 520px;
}

#sideberL {
    width: 200px;
    height: 500px;
    float: left;
    outline: 1px solid red;
}

#sideberR {
    width: 200px;
    height: 500px;
    float: right;
    outline: 1px solid red;
}

#content {
    height: 500px;
    margin: 0px 220px 0 220px;
    outline: 1px solid brown;
    
}