p,
h4,
#myList {
    color: #db9595;
}

p {
    /* через запятую можно установить разные шрифты, если браузер не нашёл на ПК пользователя первый 
    шрифт то он будет искать второй и т.д. */
    /* sans-serif без засечек */
    /* serif - с засечками */
    /* monospace - каждая буква занимает одну и туже ширину */
    /* cursive - кросивый шрифт  */
    font-family: "Comic Sans MS";
    /* изначально(без задания размера) браузер показывает 100% 
    приимущество изменения по  % данного шрифта в том что при изменения размера экрана будь то 
    ПК, планшет или телефон хорошо масштабируется*/

    /* em - это единицы измерения книгопечати(базовый размер равен 1em) похож с заданием по процента 150% это 1.5 и так же хорошо масштабируется*/

    /* px - пиксели это точка вашего экрана, (базовый размер 16px), недостатком ранеше являлось то что старые браузеры не могут их масштабировать*/

    /* pt - в пунктах 1.72 дюйма или 0.35 мм(10pt это 3.5мм) (базовый размер это 12pt) */
    /* ключевые слова -  по умолчанию medium(средний) small = medium*0.8, large = medium*1.2  */

    font-size: 16px;

    /* задаём красную строку */
    text-indent: 30px;

    /* межстрочный интервал line-height: 20px; - задали в px*/
    /*но лучше задавать в множителях, если указать line-height: 2; то это означает что нужно всзять font-size: 16px и умножить на 2 */
    line-height: 1.5;

    /* интервал между словами, можно уменьшать или увеличивать */
    /* здесь используются фиксированные велечины чаще всего px */
    /* если используется text-align: justify то word-spacing ИГНОРИРУЕТСЯ */
    /* word-spacing: 5px; */

    /* интервал между буквами */
    /* letter-spacing - больше актуален на тех словах которых пишутся очень крупным шрифтом и состоят буквально из нескольких букв */
    /* letter-spacing: 5px; */
}

#header {
    color: rgb(255, 0, 0);
    /* выравнивание: по левому краю, по правому краю, по центру, по ширене */
    text-align: center;

    /* свойство позволяет нам изменять регистр букв. */
    /* uppercase - большими буквами */
    /* lowercase - маленькими буквами */
    /* capitalize - каждая первая буква в слове с большой буквы */
    text-transform: capitalize;
}

.new {
    color: aqua;
}

/* псевдо селекторы */
/* a:link обычное состояние ссылки ещё никто не нажимал */
a:link {
    color: black;
}

/* a:visited посещённая ссылка  */
a:visited {
    color: coral;
}

/* a:hover когда на ссылку наведена мышь */
a:hover {
    color: darkgreen;
}

/* a:active во время нажатия на ссылку */

a:active {
    color: beige;
}

.new2 {
    color: black;
    /* italic - курсив */
    font-style: italic;
}

.new3 {
    color: brown;
    /* жирность шрифта  normal, bold - полужирный, 100 - 900*/
    font-weight: bold;
}

.new4 {
    /* underline - подчёркнуты, line-through - перечёркнутый, overline - верхнее подчёркивание */
    text-decoration: line-through;
}

a {
    /* убираем подчёркивание с сылок */
    text-decoration: none;
}

.new5 {
    /* выравнивание: по ширене - это значит что браузер будет выравнивать и по левому и по правому краю, за сёт увелечения 
    расстояния между пробелавми */
    text-align: justify;
}