body{
    background-color: bisque;
    background-image: url(../images/ava7patterns_pattern_957.png);

    /* запретить повторение по вертикали */
    /* background-repeat: no-repeat;не повторять */
    /* background-repeat: repeat-y;повтрять только по Y */
     background-repeat: repeat-x;/*повторять только по X */
     padding: 0;
     margin: 0;
    
}

#div1{
    width: 800px;
    height: 991px;
    margin: 29px auto 0 auto;

    /* устанавливаем изображение как фон */
    /* background-image: url(../images/custom_background.jpg); */
    background-image: url(../images/bg_new.png);

    /* на случай если человек отключил картинки в своём браузере, необходимо чтобы стоял background-color */
    background-color: azure;
    

    /* чтобы контуры не исчезали */
    outline: 0px solid;
}
#div1 h1{
    text-align: center;
    color: white;
    outline: 0px solid red;
    /* лучше использовать padding-top чем margin-top, был бы конфликт полей*/
    padding-top: 182px;
    font: 36px Verdana;
}

#wrapper{
    outline: 1px solid blue;
    background-image: url(../images/new_img.png);
    background-repeat: no-repeat;
    background-position: 0px 120px;
}