p, h4, #myList {
    color: #db9595;
}
p{
    /* через запятую можно установить разные шрифты, если браузер не нашёл на ПК пользователя первый 
    шрифт то он будет искать второй и т.д. */
    /* sans-serif без засечек */
    /* serif - с засечками */
    /* monospace - каждая буква занимает одну и туже ширину */
    /* cursive - кросивый шрифт  */
    font-family: "Comic Sans MS";
    /* изначально(без задания размера) браузер показывает 100% 
    приимущество изменения по  % данного шрифта в том что при изменения размера экрана будь то 
    ПК, планшет или телефон хорошо масштабируется*/

    /* em - это единицы измерения книгопечати(базовый размер равен 1em) похож с заданием по процента 150% это 1.5 и так же хорошо масштабируется*/

    font-size: 1.1em;

}

#header {
    color: rgb(255, 0, 0);
}

.new {
    color: aqua;
}

/* псевдо селекторы */
/* a:link обычное состояние ссылки ещё никто не нажимал */
a:link{
    color: black;
}
/* a:visited посещённая ссылка  */
a:visited{
    color: coral;
}

/* a:hover когда на ссылку наведена мышь */
a:hover{
    color: darkgreen;    
}

/* a:active во время нажатия на ссылку */

a:active{
    color: beige;
}