body {
    font: 13px Verdana, sans-serif;
    color: darkslateblue;

}

#wrapper {
    width: 500px;
}

.question {
    font-weight: bold;
}

fieldset {
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    background-color: #f4f9ff;

}

textarea {
    border: 1px solid #333333;
    background-color: #f4f9ff;
    width: 480px;
    margin: 0px 10px;
}

.tr {
    margin: 0 10px;
}